<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div style="font-family:game_font; position:absolute; left:-1000px; visibility:hidden;">.</div>
<div class="chat-message">
  <div id="phaser" class="nes-container"></div>
  <div class="casing nes-container">
    <div class="window">
      <div class="overflow" ngx-auto-scroll>
        <div class="nes-list is-disc" *ngFor="let message of this.get_messages">
          <li class="chat">{{ message.slice(1, -1) }}</li>
        </div>
      </div>
    </div>
    <div class="new-chat nes-field">
      <form class="user-input-area">
        <label for="message"></label>
        <textarea type="text" wrap="hard" rows="1" style="resize: none;" class="nes-input" [(ngModel)]="msgText"
                  #titleInput
                  id="message"></textarea>
        <button type="submit" class="nes-btn is-primary"
                (click)="sendMessage('>' +this.currentUser+': '+titleInput.value)">
          Send
        </button>
      </form>
    </div>
  </div>
</div>
</body>
