@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';

body {
  font-family: "Press Start 2P", serif;
  font-size: 11px;
}

div {
  font-family: "Press Start 2P", serif;
  font-size: 11px;
}
