
.container {
  display: flex;
  justify-items: center;
  flex-direction: row;
  height: 50px;
}

.container button{
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  position: center;
  max-width: 200px;
  width: 200px;
}

.nes-container {
  max-height: 150px;
  padding: 1rem 1rem;
}

h3 {
  text-decoration: none;
  outline: none;
  border: none;
}

h3:focus {
  text-decoration: none;
  outline: none;
  border: none;
}
