  <div class="nes-container with-title is-centered">
    <div>
      <p class="title"><i class="snes-jp-logo"></i>  Welcome to SuperFireBros</p>
    </div>
    <div class="container">
      <!--<button type="button" class="nes-btn" routerLink="/">Home</button>-->
      <button type="button" class="nes-btn" routerLink="/login">Login</button>
      <button type="button" class="nes-btn" routerLink="/play">Play</button>
      <button type="button" class="nes-btn" routerLink="/spectate">Spectate</button>
      <!--<button type="button" class="nes-btn" routerLink="/about">About</button>-->
      <button type="button" class="nes-btn" (click)="showSuccess()">About</button>
    </div>
  </div>
