<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="nes-container is-rounded with-title">
    <p class="title">Login</p>
    <div class="container2">
      <div class="nes-field is-inline">
        <label for="inline_field">username</label>
        <input knifeAlphanumeric knifeNoSpaces formControlName="username" type="text" id="inline_field" class="nes-input is-success"
               placeholder="player name">
      </div>
      <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
        <div *ngIf="submitted && loginForm.controls.username.errors.required" class="error">
          username is required.
        </div>
      </div>
      <div class="nes-field is-inline">
        <label for="warning_field">password</label>
        <input  knifeAlphanumeric knifeNoSpaces formControlName="password" type="password" id="warning_field" class="nes-input is-warning"
               placeholder="player password">
      </div>
      <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
        <div *ngIf="submitted && loginForm.controls.password.errors.required" class="error">
          password is required.
        </div>
      </div>
      <div class="button-container">
        <button type="submit" class="nes-btn is-success">Login</button>
        <button type="button" class="nes-btn is-warning" (click)="googleAuth()"><i class="nes-icon google is-small"></i>Login with google
        </button>
        <button type="button" class="nes-btn is-primary" routerLink="/register">Register</button>
      </div>
    </div>
  </form>
</div>

