.htp {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin: 0;
  padding: 25px;
  text-align: center;
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  font-size: 14px;
  text-decoration: none;
  width: auto;
  margin: auto;
  margin-bottom: 4px;
}

.instruction {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.credits {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}

.urls {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
}
