<h2 class="htp">
  How to play?
</h2>
<div class="instruction">
  <p>
    lshift : fire
  </p>
  <p>
    ↑ : move up
  </p>
  <p>
    ↓ : move down
  </p>
  <p>
    → : move right
  </p>
  <p>
    ← : move left
  </p>
</div>

<h2 class="htp">
  API DOCUMENTATION
</h2>

<div class="API">
  <a class="nes-btn is-large b" href="https://samuel-zhu.github.io/slate/">API DOC Click me!</a>
</div>

<h2 class="htp">
  Credits
</h2>
<p class="credits">
</p>
<div class="urls">
  <ul>
    <li><a href="https://www.giphy.com/">Home screen gif logo - giphy</a></li>
  </ul>
  <ul>
    <li><a href="https://www.kisspng.com/">8 bit Ghost and Mario Game sprites</a></li>
  </ul>
  <ul>
    <li><a href="https://wallpaperaccess.com/8-bit">8 bit Game background</a></li>
  </ul>
  <ul>
    <li><a href="https://m.veryicon.com/icons/game/super-mario-1/retro-coin.html">8 bit coin sprites</a></li>
  </ul>
  <ul>
    <li><a href="https://ui-ex.com/explore/transparent-flame-8-bit/">8 bit fire sprites</a></li>
  </ul>
  <ul>
    <li><a href="https://icons.webtoolhub.com/icon-n24964-detail.aspx?f=54185">8 bit mushroom sprites and web icon</a>
    </li>
  </ul>

  <ul>
    <li><a href="https://nostalgic-css.github.io/NES.css/"> Frontend library - NES.css</a></li>
  </ul>
  <ul>
    <li><a href="https://cli.angular.io/">Frontend Framework Documentation - Angular CLI</a></li>
  </ul>
  <ul>
  </ul>
  <ul>
    <li><a href="https://www.mongodb.com/">Database - MongoDB</a></li>
  </ul>
  <ul>
    <li><a href="https://socket.io/">WebSocket library - Socket.IO</a></li>
  </ul>
  <ul>
    <li><a href="https://stackoverflow.com/questions/54888671/angular-6-wait-for-subscribe-to-finish">StackOverflow -
      angular-6-wait-for-subscribe-to-finish</a></li>
  </ul>
  <ul>
    <li><a
      href="https://code.tutsplus.com/tutorials/create-a-multiplayer-pirate-shooter-game-in-your-browser--cms-23311">Browser
      multiplayer game tutorial:Phaser3</a></li>
  </ul>

  <ul>
    <li><a
      href="https://gamedevacademy.org/create-a-basic-multiplayer-game-in-phaser-3-with-socket-io-part-2/">Basic
      multiplayer game tutorial:Phaser3</a></li>
  </ul>
  <ul>
    <li><a
      href="https://scotch.io/bar-talk/error-handling-with-angular-6-tips-and-best-practices192#toc-a-better-solution-with-httpinterceptor">Error
      handling with Angular</a></li>
  </ul>
  <ul>
    <li><a href="http://jasonwatmore.com/post/2018/11/16/angular-7-jwt-authentication-example-tutorial">angular-7-jwt-authentication-example-tutorial</a>
    </li>
  </ul>
  <ul>
    <li><a href="hhttps://medium.freecodecamp.org/introduction-to-mongoose-for-mongodb-d2a7aa593c57">introduction-to-mongoose-for-mongodb</a>
    </li>
  </ul>
  <ul>
    <li><a href="  https://www.djamware.com/post/5a878b3c80aca7059c142979/securing-mean-stack-angular-5-web-application-using-passport
">securing-mean-stack-angular-5-web-application-using-passport</a></li>
  </ul>

</div>
