<h2 class="htp">
  How to play?
</h2>
<div class="instruction">
  <p>
    lshift : fire
  </p>
  <p>
    ↑ : move up
  </p>
  <p>
    ↓ : move down
  </p>
  <p>
    → : move right
  </p>
  <p>
    ← : move left
  </p>
</div>

<h2 class="htp">
  Credits
</h2>
<p class="credits">Frontend
</p>
<div class="urls">
  <ul>
    <li><a href="https://nostalgic-css.github.io/NES.css/">NES.css</a></li>
  </ul>
  <ul>
    <li><a href="https://cli.angular.io/">Angular CLI</a></li>
  </ul>
  <ul>
    <li><a href="https://www.kisspng.com/">Player Images</a></li>
  </ul>
  <ul>
    <li><a href="https://phaser.io/phaser3/">Game Structure:Phaser3</a></li>
  </ul>
  <ul>
    <li><a href="https://youtubeloop.net/watch?v=SB1VqLCTFpA/">Background Music</a></li>
  </ul>
  <p class="credits">
    Backend
  </p>
  <ul>
    <li><a href="https://www.mongodb.com/">MongoDB</a></li>
  </ul>
  <ul>
    <li><a href="https://nodejs.org/en/">Node.js</a></li>
  </ul>
  <ul>
    <li><a href="https://socket.io/">Socket.IO</a></li>
  </ul>
</div>
