<h2 class="htp">
  How to play?
</h2>
<div class="instruction">
  <p>
    f : fire
  </p>
  <p>
    space: jump
  </p>
  <p>
    -> : move right</p>
  <p>
    <- : move left
  </p>
</div>

<h2 class="htp">
  Credits
</h2>
<p class="credits">Frontend
</p>
<div class="urls">
  <ul>
    <li><a href="https://nostalgic-css.github.io/NES.css/">NES.css</a></li>
  </ul>
  <ul>
    <li><a href="https://cli.angular.io/">Angular CLI</a></li>
  </ul>
  <ul>
    <li><a href="https://www.kisspng.com/png-super-mario-world-super-mario-bros-3-super-mario-l-719753/">Mario Images</a></li>
  </ul>
  <p class="credits">
    Backend
  </p>
  <ul>
    <li><a href="https://www.mongodb.com/">MongoDB</a></li>
  </ul>
  <ul>
    <li><a href="https://nodejs.org/en/">Node.js</a></li>
  </ul>
  <ul>
    <li><a href="https://socket.io/">Socket.IO</a></li>
  </ul>
</div>
